<div id='container'>
  <form name="linkForm">
    <input class='text' type='url' name='url' ng-model='urlText' required>
    <input type='submit' value='Shorten' ng-click='submit()'>
  </form>
  <img class='spinner' src='/assets/spiffygif_46x46.gif' ng-show='waiting'>
  <div class='message'>
    <div ng-model='added' class='link' ng-show='added'>
      <img src="/assets/redirect_icon.png">
      <div class="info">
        <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
        <div class='title'>{{added.title}}</div>
        <div class='original'>{{added.url}}</div>
        <a href='{{base_url}}/{{code}}'>{{added.base_url}}/{{added.code}}</a>
      </div>
    </div> 
  </div>
</div>


